*{
    text-decoration:none;
    padding:0;
    margin:0;
    list-style:none;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.topabout {
    position: relative;
    text-align:center;

}
#gradientimage{
    position: relative;
}
.bio {
    position: absolute;
    color:white;
    width:100%;
}
.bioname{
    position: absolute;
    bottom:32vh;
    font-size:17px;
    font-weight:700;
    float:left;
    margin-left:40px;

}
.biodevops{
    position:absolute;
    bottom:17vh;
    float:left;
    margin-left:30px;
    font-size:30px;
    font-weight:700;


}
.biovill{
    position: relative;
    bottom:12vh;
    float:left;
    font-size:18px;
    margin-left:30px;
    font-weight:500;
}
.myimg{
    border:10px solid #eee;
    margin-left:10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:50px;
    border-radius:50%;
    
}
.heyiam{
    text-align: center;
}
.heyiam label{
    color: #5a5a5a;
    font-weight:bold;
    font-size: 35px;
    margin-right:15px;
}
.heyiam label{
    border-bottom:3px solid;
}
.heyiam p{
    padding: 3px 3px;
    margin-top:20px;
    float:left;
    font-size: 23px;
    
    

}
.heyiam p span{
    
    text-align: center;
    line-height:20px;
    font-size:23px;
    font-weight:700;
    border:1px solid black;
    border-radius:5px;

}
.heyiam p a{
    color: #337ab7;
    font-weight:700;
}
.bioabout p{
    text-align: center;
    font-family: sans-serif;;
    float:left;
    padding:20px;
    margin-top:30px;
    font-size:23px;
    font-weight:400;
}
.socialicons{
    width:100%;
    height:40vh;
    text-align: center;
    float:left;
    margin-top:50px;
}
.socialicons ul a{
    line-height:50px;
    height:50px;
    width:50px;
    margin-top:20px;
    margin-left:20px;
    font-size:30px;
    border-radius:50%;
    color:#fff;
    background:#5a5a5a;
}
.socialicons ul a:active,.socialicons ul a:hover{
    color:greenyellow;    
}

.developedby{
    margin-top:20px;
}
.menudiv{
    text-align:center;
    line-height:40px;
    width:44px;
    height:42px;
    background:#d0d0d0;
    border-radius:5px;
    color:black;
    position: absolute;
    top:7px;
    right:10px;
    font-size:25px;
}
#myCheck{
    display:none;

}
.sidenav{
    display: block;
    color:#fff;
    position: absolute;
    top:0;
    width:83%;
    height:100%;
    background:black;
    text-align: center;
}
.sidenav li{
    margin-top:40px;

}
.sidenav li a{
    font-family: sans-serif;
    font-size:20px;

}
.copyright{
    width:100%;
    height:40px;
    position: absolute;
    bottom:20px;
}
.copyright label{
    font-weight:100;
    font-size: larger;
    opacity:0.7;
}
.sidesocialicons{
    width:100%;
    height:40vh;
    text-align: center;
    float:left;
    margin-top:40px;
}
.sidesocialicons ul a{
    line-height:50px;
    height:50px;
    width:50px;
    margin-top:20px;
    margin-left:13px;
    margin-right:13px;
    font-size:30px;
    border-radius:50%;
    color:#fff;
    background:#5a5a5a;
}
.sidesocialicons ul a:active,.sidesocialicons ul a:hover{
    color:greenyellow;    
}
.aboutus a{
    border-bottom:2px solid ;
    padding-bottom:7px;
}